<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>{{ data.title }}</title>
</head>
<body>
    <ul>
        {% for file in data.files %}
          {% if data.group is not none %}
        <li><a href="/video/{{ data.group }}/{{ file }}">{{ file }}</a></li>
          {% else %}
        <li><a href="/video/{{ file }}">{{ file }}</a></li>
          {% endif %}
        {% endfor %}
    </ul>

    {% if data.paths|length %}
    <h1>Paths</h1>
    <ul>
        {% for path in data.paths %}
          {% if data.group is not none %}
        <li><a href="/group/{{ data.group }}/{{ path }}">{{ path }}</a></li>
          {% else %}
        <li><a href="/group/{{ path }}">{{ path }}</a></li>
          {% endif %}
        {% endfor %}
    </ul>
    {% endif %}
</body>
</html>
